@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700');
@import "../css/topSection.css";
@import "../css/services-section.css";
@import "../css/portfolio-section.css";
@import "../css/experience-section.css";
@import "../css/blog-section.css";
@import "../css/testimonials-section.css";
@import "../css/portfolio-projects.css";
@import "../css/footer-section.css";

:root {
    --mainGreen: #0fe29ce1;
    --hover-mobile-menu: #0fe29ce1;
    --mainBackground: #f9fafc;
    /* --mainBackground: black; */
    --title-color: #fff;
    --title-black: #13171a;
    --experience-text: navy;
    /* --icons-color: #13171a; */
    --hover-background: rgba(255, 255, 255, 1);
    --nav-hover: #1d1d1d;

}

.dark-theme {
    --mainBackground: #181621;
    --hover-mobile-menu: black;
    --mainGreen: #fff;
    --title-color: #333;
    --title-black: #fff;
    --experience-text: #fff;
    --hover-background: rgb(61, 61, 61);
    --nav-hover: #fff;

}

body {
    background-color: var(--mainBackground);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

}

.container {
    max-width: 1150px;
    margin: 0 auto;


}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

header .logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-animation-duration: 4s;

    animation-duration: 4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

header .logo .name {
    background: var(--mainGreen);
    padding: 15px 20px;
    text-decoration: none;
    color: var(--title-color);
}

header .header-menu {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-menu a {
    color: var(--mainGreen);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .header-menu a:hover {
    color: var(--nav-hover);
    font-weight: 700;
}

header .hamburger-menu {
    color: var(--mainGreen);
    cursor: pointer;
    font-size: 1.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    display: none;
}

.mobile-menu {
    display: none;
    background: #ffff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 10;
    height: 100vh;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-box-shadow: 2px 0px 78px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 0px 78px -16px rgba(0, 0, 0, 0.75);

}

.mobile-menu.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mobile-menu a {
    padding: 15px;
    text-decoration: none;
    color: #000;
}

.mobile-menu a:hover {

    text-decoration: none;
    color: #ffff;
    background: var(--hover-mobile-menu);
}

#back-to-top {
    background: var(--title-black);
    border-radius: 10px;
    display: inline-block;
    color: var(--mainGreen);


}

#back-to-top .backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 99;
    display: none;
}


/*Tablets*/
@media only screen and (max-width: 960px) {
    .container {
        width: 100%;
    }
}

/*Phones*/
@media only screen and (max-width: 767px) {
    header .header-menu {
        display: none;
    }

    header .hamburger-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    header .logo {
        font-size: 1.2rem;
    }

    .mobile-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}