#top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

#top .info {
    padding: 15px;
    position: relative;
}

#top .info .blue-square {
    border: 20px solid var(--mainGreen);
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 0;
    top: -70%;
    left: -50%;
}

#top .info h1 {
    color: var(--title-black);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    z-index: 1;
    position: relative;
}

#top .info p {
    color: #919191;
    text-transform: capitalize;
    margin-bottom: 4rem;
    z-index: 1;
    position: relative;
}

#top .info a {
    color: #919191;
    font-weight: 700;
    font-size: .9rem;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #919191;
    position: relative;
    letter-spacing: 2px;
    z-index: 1;
}



#top .image .background-img {
    background: url('../img/hero.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 800px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
}

/*Tablets*/
@media only screen and (max-width: 960px) {
    #top .container {
        padding: 0 0 80px;
    }

    #top .info .blue-square {
        display: none;
    }

    #top .image .background-img {
        height: 100vh;
    }
}

/*Phones*/
@media only screen and (max-width: 767px) {
    #top .container {
        padding: 0 0 80px;
    }

    #top .info .blue-square {
        display: none;
    }

    #top .image .background-img {
        height: 100vh;
    }
}